/*
    LEFT-SIDE OF THE PAGE
*/
aside {
    width: 30%;
    display: inline-block;
    text-align: center;
    padding: 0;
    background-color: rgb(243, 240, 246);
    background-image: radial-gradient(circle, rgb(135, 132, 139) 0%, rgb(155, 159, 168) 100%);
}

#profile-container {
    padding: 15% 15% 10% 15%;
}

img {
    width: 85%;
    border: 0.1px solid rgba(0, 0, 0, 0.322);
    border-radius: 100%;
}

.adjust-font {
    padding: 0 5% 0 5%;
}

hr {
    border-color: #ffffff;
    margin-bottom: 6%;
}

.p-aside {
    color: #ffffff;
    font-size: 120%;
}

.span-aside {
    color: #e8e2e2;
}

.font-aside {
    color: #e8e2e2;
    font-size: 80%;
}

a {
    color: #e8e2e2;
}

a:hover {
    color: white;
}

/*
    -webkit-transition: transform 1s linear;
    -moz-transition: transform 1s linear;
    -ms-transition: transform 1s linear;
    -o-transition: transform 1s linear;
    transition: transform 1s linear;


    -webkit-transform:  rotate(4deg);
    -moz-transform:  rotate(4deg);
    -ms-transform:  rotate(4deg);
    -o-transform:  rotate(4deg);
    transform:  rotate(4deg);
*/