/*
    THIS FILE CONTAINS MAIN STYLES
    AND TWO IMPORTED FILES WITH ASIDE AND MAIN CONTAINERS
*/


@import url(main.css);
@import url(aside.css);
@import url(scale.css);


html {
    box-sizing: border-box;
}

body {
    background-color: rgba(232, 228, 236, 1);
    background-image: radial-gradient(circle, rgba(232, 228, 236, 1) 0%, rgba(166, 187, 199, 1) 100%);
    margin: 0 0 0 0;
}

#container {
    margin: auto;
    width: 85%;
    height: auto;
    display: flex;
}