/*
    THIS FILE CONTAINS STYLES OF CONTENT AND ELEMENTS OF THE RIGHT-SIDE OF THE PAGE
*/


main {
    width: 70%;
    display: inline-block;
    color: #0e2c50cc;
    padding: 0 5% 2% 5%;
    text-align: left;
    background-color: #DFE4E9;
}

main header {
    margin-top: -2%;
}

main header h1 {
    font-size: 3.2em;
}

main header h2 {
    font-size: 2em;
    margin-top: -4%;
}

main hr {
    border-color: #0e2c5063;
    margin-bottom: 1%;
    margin-top: 1%;
}

.p-main-header {
    margin-top: 10%;
    font-size: 1.2em;
}

.p-main {
    font-size: 1em;
}

.list-client-job {
    margin-top: -2%;
    font-size: 90%;
}

.list-courses {
    list-style-type: disc;
    font-size: 95%;
}

.list-skills {
    font-size: 95%;
}

.list-skills > li {
    margin-top: 1%;
    margin-bottom: 1%;
}

.list-inside-list-skills {
    font-size: 85%;
    list-style-type: disc;
}

footer section {
    font-style: italic;
    font-size: 0.8em;
    border-top: 1.5px dotted;
    border-bottom: 1.5px dotted;
    padding: 2% 3% 2% 3%;
}

footer section blockquote {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#signature {
    font-size: 140%;
    text-align: right;
}