/*
    THIS FILE CONTAINS SCALING COMPATIBILITY FOR DIFFERENT DEFICES WITH DIFFERENT SCALE
*/


/* Extra small devices (phones) */
@media only screen and (max-width: 500px) {
    #container {
        width: 100% !important;
        font-size: 120%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    aside {
        width: 100%;
        text-align: left;
    }
    main {
        width: 100%;
    }
    #profile-container {
        text-align: center;
    }
    #min-devices-header {
        display: block;
        font-size: 220%;
        color: #ffffff;
        margin-top: -9%;
        text-align: center !important;
    }
    #data {
        display: block;
        margin-top: 18%;
    }
    main header h1 {
        display: none;
    }
    main header h2 {
        display: block;
        margin-top: 14%;
    }
    #min-device-mgbottom {
        display: block;
        margin-bottom: 15%;
    }
}

/* Small/Medium devices */
@media only screen and (min-width: 500px) {
    #container {
        width: 100% !important  ;
    }
    aside {
        font-size: 84%;
        width: 45%;
    }
    .font-aside {
        font-size: 90%;
    }
    #min-devices-header {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #container {
        font-size: 125%;
        width: 85% !important;
    }
}

/* Large devices (laptops/desktops, 992px and up */
@media only screen and (min-width: 992px) {
    #container {
        font-size: 130%;
    }
}

/* 1440p+ extra++ bonus */
@media only screen and (min-width: 1440px) {
    #container {
        font-size: 150%;
    }
    main {
        font-size: 90% !important;
    }
}